Step 3

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# importing files

# Setting up the folder path 
path = r'/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A4_Python/Instacart Basket Analysis/02 Data'

# importing orders_products_combined pickled file
df_orders_products_prior = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_combined.pkl')) # I tried to drop index column, but were not able to do that

# importing product data set
df_products=pd.read_csv(os.path.join(path,'Prepared data', 'products_output_4_5.csv'))

In [4]:
# displaying the file 
df_orders_products_prior.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
# checking the shape and comparing with previously exported file - all set
df_orders_products_prior.shape

(32434489, 11)

In [6]:
df_products.shape #checking the imported data

(49672, 6)

In [7]:
# merging based on product_id parameter and naming data frame as df_ords_prods_merge
df_ords_prods_merged = df_orders_products_prior.merge(df_products, on='product_id')

# Confirming the results using the merge flag
df_ords_prods_merged['_merge']

0           both
1           both
2           both
3           both
4           both
            ...
32404854    both
32404855    both
32404856    both
32404857    both
32404858    both
Name: _merge, Length: 32404859, dtype: category
Categories (3, object): ['left_only', 'right_only', 'both']

In [8]:
df_ords_prods_merged['_merge'].value_counts() # looking for the count of values

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [9]:
# exporting merged data set in pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, 'Prepared data', 'df_ords_prods_merged.pkl'))