CareerFoundry 4.7: Deriving New Variables

This script includes the following points:

Part 1. Working on ords_prods_merge df as instructed in the lecture. 

Part 2. Working on the task.

Part 1. Working on ords_prods_merge df as intructed on lecture

In [4]:
import pandas as pd
import os

In [5]:
# imporing ords_prods_merge dataframe

# path to the folder 
path = r'/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A4_Python/Instacart Basket Analysis/02 Data'

# importing the file output of task 4.6 in pickle format
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared data', 'df_ords_prods_merged.pkl'))

# creating subset data for the first one million rows
df = ords_prods_merge[:1000000]

# checking the file
df.head(5)

,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,0,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,0,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
3,0,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
4,0,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [6]:
# defining funtion for price labeling


def price_label(row):
   
    # If the value within the “prices” column within the given row is less than or equal to 5, then return the string “Low-range product.”
    if row['prices']<=5:
        return 'Low-range product'
   
    # if the value within the “prices” column within the given row is greater than 5 and less than or equal to 15, then return the string “Mid-range product.”
    elif (row['prices'])>5 and (row['prices']<=15):
        return 'Mid-range product'
   
    # if the value of the “prices” column within the given row is greater than 15, then return the string “High-range product.”
    elif row['prices']>5:
        return 'High range product'
   
    # return the string “Not enough data.
    else: 
        return 'Not enough data'

In [7]:
# apply price range function. Note to self: Python can technically execute this, but it will suggest the loc() method instead, so no worries
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_11523/3670275933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
# analyzing of the distribution of price_range column # note my outputs differ from the outputs on the exsample
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product     673183
Low-range product     314392
High range product     12425
Name: count, dtype: int64

In [9]:
# finding the most expensive product #in other examples the value is 14.8 
df['prices'].max()

99999.0

In [10]:
# finding the least expensive product
df['prices'].min()

1.0

In [11]:
# finding mean number 
df['prices'].mean()

11.3967944

In [12]:
# assigning 'High-range product' to 'price_range_loc' for rows where 'prices' > 15.
# question to Hunter: Why am I getting notifications?
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_11523/2357092041.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
# assigning 'Mid-range product' to 'price_range_loc' for rows where 'prices' are equal or greater than 15 and smaller than 5 
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
# assigning 'Low-range product' to 'price_range_loc' for rows where 'prices' is smaller or equal to 5
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
# counting the values in newly created 'price_range' column
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product     673183
Low-range product     314392
High range product     12425
Name: count, dtype: int64

In [16]:
# Use loc() method on entire ords_prods_merge dataframe to apply price range function

In [17]:
# for 'High-range product'
ords_prods_merge.loc[ords_prods_merge['prices']>15, 'price_range_loc'] = 'High-range product'

In [18]:
# for 'Mid-range product' 
ords_prods_merge.loc[(ords_prods_merge['prices']<=15) & (ords_prods_merge['prices']>5),'price_range_loc'] = 'Mid-range product'

In [19]:
# 'Low-range product'
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
# counting the values in newly created 'price_range_loc' column
ords_prods_merge['price_range_loc'].value_counts (dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [21]:
# Finding a frequency of orders_day_of_week
ords_prods_merge['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
# Use for-loop to determine whether orders are on "busiest day" (0 = Saturday), "least busy" (4 = Wednesday), or "regularly busy" (other days of the week).

result = []

for value in ords_prods_merge["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

# in order to display the results code 'result' could be typed, but it will take about 2 min to execute the code

In [23]:
# Create new column in ords_prods_merge to view results in context.
ords_prods_merge['busiest day'] = result

In [24]:
# Counting the values for the busiest day
ords_prods_merge['busiest day'].value_counts(dropna = False)

busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

Part 2. Working on the task.

In [26]:
# Finding a frequency of orders_day_of_week
ords_prods_merge['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [27]:
# Update the "busiest_day" label to "busiest_days" for the two busiest days of the week.
# Also, identify and label the two slowest days.

result = []

for value in ords_prods_merge["order_day_of_week"]:
  if value in [0, 1]:
    result.append("Busiest days")
  elif value in [3, 4]:
    result.append("Slowest days")
  else:
    result.append("Regularly busy")

# in order to display the results code 'result' could be typed, but it will take about 2 min to execute the code

In [28]:
# Create new column in ords_prods_merge to view results in context.
ords_prods_merge['frequency of days'] = result

# Counting the values for the busiest day
ords_prods_merge['frequency of days'].value_counts(dropna = False)

frequency of days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [29]:
# Identify the busiest hours of the day and categorize them into:
# "Most orders", "Average orders", and "Fewest orders."
# Create a new column called "busiest_period_of_day" to store these labels.

In [30]:
# Finding a frequency of hours per day 
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [31]:
def hour_analysis(row):
    # Most orders during peak hours (10 AM to 4 PM)
    if 10 <= row['order_hour_of_day'] <= 16:
        return 'Most orders'
    
    # Average orders during medium busy hours (7 AM to 9 AM and 5 PM to 7 PM)
    elif (7 <= row['order_hour_of_day'] <= 9) or (17 <= row['order_hour_of_day'] <= 19):
        return 'Average orders'
    
    # Fewest orders during early morning and late-night hours
    else:
        return 'Fewest orders'

# Apply the function to create 'busiest_period_of_day' column
ords_prods_merge['busiest_period_of_day'] = ords_prods_merge.apply(hour_analysis, axis=1)

# Count the frequency of each label
print(ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False))

busiest_period_of_day
Most orders       18663868
Average orders    10045836
Fewest orders      3695155
Name: count, dtype: int64

In [32]:
# Export the updated DataFrame as a pickle file and save it in the "Prepared Data" folder.
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared data', 'ords_prods_merge_output_4_7.pkl'))